.row
  .col-lg-12
    %h1.page-header 
      Listing contracts
      %span.badge 
        = @contract_counts
    .form-group
      = search_form_for @q do |f|
        = f.search_field :name_cont,{placeholder: "Name",class: 'form-control col-md-2'}
        = f.search_field :exp_amount_cont,{placeholder: "Amount",class: 'form-control col-md-2'}
        = f.search_field :start_time_cont,{placeholder: "Start",class: 'form-control col-md-2'}
        = f.search_field :end_time_cont,{placeholder: "End",class: 'form-control col-md-2'}
        = f.submit  'Search',class: "btn btn-primary"
    %table.table.table-striped.talbe-hover.text-center
      %thead
        %tr
          = content_tag :th, sort_link(@q,:name),class: "col-md-1 text-center"
          = content_tag :th, sort_link(@q,:amount),class: "col-md-1 text-center"
          = content_tag :th, sort_link(@q,:start),class: "col-md-2 text-center"
          = content_tag :th, sort_link(@q,:end),class: "col-md-2 text-center"
          %th.col-md-1.text-center Company
          %th.col-md-2.text-center Contact
          %th.col-md-1{:colspan => "3"}
      %tbody
        - if @contract_counts > 0
          - @contracts.each do |contract|
            %tr
              %td= contract.name
              %td= number_to_currency(contract.exp_amount, unit: "￥")
              %td= contract.start_time.to_s(:db)
              %td= contract.end_time
              %td= contract_companies(contract.id)
              %td= contract_contacts(contract.id)
              %td= link_to 'Show', contract, remote: true,class: "btn btn-primary"
              %td= link_to 'Edit', edit_contract_path(contract), remote: true,class: "btn btn-info"
              %td= link_to 'Destroy', contract, method: :delete, data: { confirm: 'Are you sure?' }, remote: true,class: "btn btn-warning"
    = will_paginate @contracts, renderer: BootstrapPagination::Rails
    %br/
    = link_to 'New Contract', new_contract_path, remote: true,class: "btn btn-success"