%h1 Listing contracts
%span.badge 
  = @contract_counts
%table.table.table-striped.talbe-hover
  %thead
    %tr
      %th.col-md-3.text-center Name
      %th.col-md-3.text-center Note
      %th.col-md-3.text-center Time
      %th.col-md-1{:colspan => "3"}
  %tbody
    - if @contract_counts > 0
      - @contracts.each do |contract|
        %tr
          %td= contract.name
          %td= contract.note
          %td= contract.time.to_s(:db)
          %td= link_to 'Show', contract
          %td= link_to 'Edit', edit_contract_path(contract)
          %td= link_to 'Destroy', contract, method: :delete, data: { confirm: 'Are you sure?' }
%br/
.btn.btn-info
  = link_to 'New Contract', new_contract_path
.btn.btn-info
  = link_to 'Back', welcome_path