.jumbotron
  %p
    %strong Name:
    = @contract.name
  %p
    %strong Note:
    = @contract.note
  %p
    %strong Time:
    = @contract.time
  .btn.btn-info  
    = link_to 'Edit', edit_contract_path(@contract)
  .btn.btn-info  
    = link_to 'Back', contracts_path