<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @contract.name %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @contract.amount %>
</p>

<p>
  <strong>Note:</strong>
  <%= @contract.note %>
</p>

<p>
  <strong>Time:</strong>
  <%= @contract.time %>
</p>

<%= link_to 'Edit', edit_contract_path(@contract) %> |
<%= link_to 'Back', contracts_path %>
