.form-horizontal
  = form_for @user, html: { multipart: true} do |f|
    - if @user.errors.any?
      #error_explanation.alert.alert-warning
        %h2
          = pluralize(@user.errors.count, "error")
          prohibited this user from being saved:
        %ul
          - @user.errors.full_messages.each do |message|
            %li= message
    .form-group
      .col-md-offset-3.col-md-1
        = f.label :avatar,{class: "form-label"}
      .col-md-7
        = image_tag(@user.avatar_url) if @user.avatar? ,{class: "form-control"}
        = f.file_field :avatar,{class: "form-control"}
        = f.text_field :remote_avatar_url,{class: "form-control"}
        = f.hidden_field :avatar_cache
        = f.check_box :remove_avatar
          Remove avatar
    .form-group
      .col-md-offset-3.col-md-1
        = f.label :name,{class: "form-label"}
      .col-md-7
        = f.text_field :name,{autofocus: true, class: "form-control"}
    .form-group
      .col-md-offset-3.col-md-1
        = f.label :email,{class: "form-label"}
      .col-md-7
        = f.email_field :email,{class: "form-control"}
    .form-group
      .col-md-offset-3.col-md-1
        = f.label :password,{class: "form-label"}
      .col-md-7
        = f.password_field :password,{class: "form-control"}
    .form-group
      .col-md-offset-3.col-md-1
        = f.label :note,{class: "form-label"}
      .col-md-7
        = f.text_area :note,{class: "form-control", rows: 3}
    .form-group
      = f.submit "Save",class: "btn btn-primary col-md-offset-4 col-md-1"
