.jumbotron
  %p
    %strong Name:
    = @user.name
  %p
    %strong Note:
    = @user.note
  %p
    %strong Email:
    = @user.email
  .btn.btn-info  
    = link_to 'Edit', edit_user_path(@user)
  .btn.btn-info  
    = link_to 'Back', users_path
