.row
  .col-lg-12
    %h1.page-header 
      Listing contacts
      %span.badge 
        = @contact_counts
    .form-group
      = search_form_for @q do |f|
        .col-md-3
          = f.search_field :name,{placeholder: "Name",class: 'form-control'}
        .col-md-3
          = f.search_field :note,{placeholder: "Note",class: 'form-control'}
        = f.submit  'Search',class: "btn-primaryn btn-primary"
    %table.table.table-striped.talbe-hover.text-center
      %thead
        %tr
          = content_tag :th, sort_link(@q,:name),class: "col-md-2 text-center"
          = content_tag :th, sort_link(@q,:note),class: "col-md-2 text-center"
          %th.col-md-3.text-center User
          %th.col-md-2.text-center Company
          %th.col-md-1{:colspan => "3"}
      %tbody
        - if @contact_counts > 0
          - @contacts.each do |contact|
            %tr
              %td= contact.name
              %td= contact.note
              %td= search_users(contact.id)
              %td= search_companies(contact.id)
              %td= link_to 'Show', contact,{class: "btn btn-success",remote: true}
              %td= link_to 'Edit', edit_contact_path(contact),{class: "btn btn-info",remote: true}
              %td= link_to 'Destroy', contact, remote: true, method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-danger"
    = will_paginate @contacts, renderer: BootstrapPagination::Rails
    %br/
    = link_to 'New contact', new_contact_path, remote: true,class: "btn btn-success"