.row
  .col-lg-12
    .jumbotron
      %p
        %strong Name:
        = @company.name
      %p
        %strong Note:
        = @company.note
      %p
        %strong Users:
        - users = company_users(@company.id)
        - if users.present?
          = users
        - else
          Nothing
      = link_to 'Edit', edit_company_path(@company), remote: true, class: "btn btn-success"
      = link_to 'Back', companies_path, remote: true, class: "btn btn-success"