.row
  .col-lg-12
    %h1.page-header
      Listing companies
      %span.badge 
        = @company_counts
    %table.table.table-striped.talbe-hover.text-center
      %thead
        %tr
          %th.col-md-3.text-center Name
          %th.col-md-3.text-center Note
          %th.col-md-3.text-center Users
          %th.col-md-1{:colspan => "3"}
      %tbody
        - if @company_counts > 0
          - @companies.each do |company|
            %tr
              %td= company.name
              %td= company.note
              %td= company_users(company.id)
              %td= link_to 'Show', company, remote: true, class: "btn btn-success"
              %td= link_to 'Edit', edit_company_path(company), remote: true, class: "btn btn-info"
              %td= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' }, remote: true, class: "btn btn-warning"
    = will_paginate @companies, renderer: BootstrapPagination::Rails
    %br/
    = link_to 'New Company', new_company_path, remote: true, class: "btn btn-success"
    = link_to 'Back', welcome_path, remote: true, class: "btn btn-success"