%h1 Listing companies
%span.badge 
  = @company_counts
%table.table.table-striped.talbe-hover
  %thead
    %tr
      %th.col-md-4.text-center Name
      %th.col-md-5.text-center Note
      %th.col-md-1{:colspan => "3"}
  %tbody
    - if @company_counts > 0
      - @companies.each do |company|
        %tr
          %td= company.name
          %td= company.note
          %td= link_to 'Show', company
          %td= link_to 'Edit', edit_company_path(company)
          %td= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' }
%br/
.btn.btn-info
  = link_to 'New Company', new_company_path
.btn.btn-info
  = link_to 'Back', welcome_path