.form-horizontal
  = form_for(@opportunity,remote: true) do |f|
    - if @opportunity.errors.any?
      #error_explanation.alert.alert-warning
        %h2
          = pluralize(@opportunity.errors.count, "error")
          prohibited this opportunity from being saved:
        %ul
          - @opportunity.errors.full_messages.each do |message|
            %li= message
    .form-group
      .col-md-offset-3.col-md-1
        = f.label :name,{class: "form-label"}
      .col-md-7
        = f.text_field :name,{autofocus: true, class: "form-control"}
    .form-group
      .col-md-offset-3.col-md-1
        = f.label :note,{class: "form-label"}
      .col-md-7
        = f.text_area :note,{class: "form-control", rows: 3}
    .form-group
      .col-md-offset-3.col-md-1
        = f.label :companies,{class: "form-label"}
      .col-md-1
        = f.select :companies, company_array,{prompt: "Please select",include_blank: true}
    .form-group
      .col-md-offset-3.col-md-1
        = f.label :contacts,{class: "form-label"}
      .col-md-1
        = f.select :contacts, contact_array,{prompt: "Please select",include_blank: true}
    .form-group
      .col-md-offset-3.col-md-1
        = f.label :users,{class: "form-label"}
      .col-md-1
        = f.select :users, user_array,{prompt: "Please select",include_blank: true} 
    .form-group
      .col-md-offset-3.col-md-1
        = f.label :activities,{class: "form-label"}
      .col-md-1
        = f.select :activities, activity_array,{prompt: "Please select",include_blank: true} 
    .form-group
      = f.submit "Save",class: "btn btn-primary col-md-offset-4 col-md-1"