.row
  .col-lg-12
    %h1.page-header 
      Listing opportunities
      %span.badge 
        = @opportunity_counts
    %table.table.table-striped.talbe-hover.text-center
      %thead
        %tr
          = content_tag :th, sort_link(@q,:name),class: "col-md-1 text-center"
          = content_tag :th, sort_link(@q,:note),class: "col-md-1 text-center"
          %th.col-md-2.text-center Company
          %th.col-md-2.text-center Contact
          %th.col-md-1.text-center Activity
          %th.col-md-2.text-center User
          %th.col-md-1{:colspan => "3"}
      %tbody
        - if @opportunity_counts > 0  
          - @opportunities.each do |opportunity|
            %tr
              %td= opportunity.name
              %td= opportunity.note
              %td= opp_companies(opportunity.id)
              %td= opp_contacts(opportunity.id)
              %td= opp_activities(opportunity.id)
              %td= opp_users(opportunity.id)
              %td= link_to 'Show', opportunity, remote: true,class: "btn btn-primary"
              %td= link_to 'Edit', edit_opportunity_path(opportunity), remote: true,class: "btn btn-info"
              %td= link_to 'Destroy', opportunity, method: :delete, data: { confirm: 'Are you sure?' }, remote: true,class: "btn btn-warning"
    = will_paginate @opportunities, renderer: BootstrapPagination::Rails
    %br/
    = link_to 'New Opportunity', new_opportunity_path, remote: true,class: "btn btn-success"