.jumbotron
  %p
    %strong Name:
    = @opportunity.name
  %p
    %strong Note:
    = @opportunity.note
  %p
    %strong Companies:
    - temp = opp_companies(@opportunity.id)
    - if temp.present?
      = temp
    -else
      Nothing
  %p
    %strong Contacts:
    - temp = opp_contacts(@opportunity.id)
    - if temp.present?
      = temp
    -else
      Nothing
  %p
    %strong Users:
    - temp = opp_users(@opportunity.id)
    - if temp.present?
      = temp
    - else
      Nothing
  %p
    %strong Activities:
    - temp = opp_activities(@opportunity.id)
    - if temp.present?
      = temp
    - else
      Nothing
  .btn.btn-info  
    = link_to 'Edit', edit_opportunity_path(@opportunity)
  .btn.btn-info  
    = link_to 'Back', opportunities_path