.form-horizontal
  = form_for(@activity) do |f|
    - if @activity.errors.any?
      #error_explanation.alert.alert-warning
        %h2
          = pluralize(@activity.errors.count, "error")
          prohibited this activity from being saved:
        %ul
          - @activity.errors.full_messages.each do |message|
            %li= message
    .form-group
      .col-md-offset-3.col-md-1
        = f.label :name,{class: "form-label"}
      .col-md-7
        = f.text_field :name,{autofocus: true, class: "form-control"}
    .form-group
      .col-md-offset-3.col-md-1
        = f.label :note,{class: "form-label"}
      .col-md-7
        = f.text_area :note,{class: "form-control", rows: 3}
    .form-group
      .col-md-offset-3.col-md-1
        = f.label :time,{class: "form-label"}
      .col-md-3
        = f.date_select :time,{class: "form-control"}        
    .form-group
      = f.submit "Save",class: "btn btn-primary col-md-offset-4 col-md-1"
