%p#notice= notice
%p
  %strong Name:
  = @activity.name
%p
  %strong Time:
  = @activity.time
%p
  %strong Note:
  = @activity.note
= link_to 'Edit', edit_activity_path(@activity)
|
\#{link_to 'Back', activities_path}
