%nav.navbar.navbar-default.navbar-fixed-top{:style => 'margin-bottom: 0', :role => 'navigation'}
  .navbar-header
    %button.navbar-toggle{:data=>{:toggle=>'collapse',:target=>'.sidebar-collapse'}}
      %span.sr-only Toggle navigation
      %span.icron-bar
      %span.icron-bar
      %span.icron-bar
    = link_to 'Simple CRM', welcome_path,{class: "navbar-brand"}
  %ul.nav.navbar-top-links.navbar-right
    %li.dropdown
      %a.dropdown-toggle{ :data => {:toggle => "dropdown"}}
        %i="#{current_user.email}"
        %i.fa.fa-user.fa-fw
        %i.fa.fa-caret-down
      %ul.dropdown-menu.dropdown-user
        %li
          %a{:href => "#{account_path(current_user)}"}
            %i.fa.fa-user.fa-fw
            User Profile
        %li
          %a{:href => "#{edit_user_registration_path}"}
            %i.fa.fa-gear.fa-fw
            Settings
        %li.divider
        %li
          %a{:href => "#{destroy_user_session_path}",:data => {:method => :delete}}
            %i.fa.fa-sign-out.fa-fw
            Sign out
  .navbar-default.navbar-static-side{:role => "navigation"}
    .sidebar-collapse
      %ul.nav#side-menu
        %li.sidebar-search
          .input-group.custom-search-form
            -# = form_for @visit, welcome_search_path do |f|
            -#   = f.text_field :path,class: "form-control"
            -#   = f.submit 'Search',class: "btn btn-default"
        %li
          %a{:href => "#"}
            %i.fa.fa-dashboard.fa-fw
            Dashboard
            %span.fa.arrow
          %ul.nav.nav-second-level.collapse
            %li
              %a{:href => "#{welcome_path}"}
                Index
            %li
              %a{:href => ''}
                Sales Report
            %li
              %a{:href => ''}
                Financial Report
            %li
              %a{:href => ''}
                Organization   
        %li
          %a{:href => "#"}
            %i.fa.fa-sitemap.fa-fw
            CRM
            %span.fa.arrow
          %ul.nav.nav-second-level.collapse
            %li
              %a{:href => "#{companies_path}",data: { remote: true}}
                Customers
            %li
              %a{:href => "#{contacts_path}",data: { remote: true}}
                Contacts
            %li
              %a{:href => "#{activities_path}",data: { remote: true}}
                Activities
            %li
              %a{:href => "#{opportunities_path}",data: { remote: true}}
                Opportunities
            %li
              %a{:href=>"#{contracts_path}",data: { remote: true}}
                %i.fa.fa-files-o.fa-fw
                Contract            
        %li
          %a{:href=>"#{companies_path}",data: { remote: true}}
            %i.fa.fa-table.fa-fw
            Customer
        %li
          %a{:href=>"#{contacts_path}",data: { remote: true} }
            %i.fa.fa-edit.fa-fw
            Contact
        %li
          %a{:href=>"#{activities_path}",data: { remote: true}}
            %i.fa.fa-bar-chart-o.fa-fw
            Activity
        %li
          %a{:href=>"#{opportunities_path}",data: { remote: true}}
            %i.fa.fa-files-o.fa-fw
            Opportunity
        %li
          %a{:href=>"#{contracts_path}",data: { remote: true}}
            %i.fa.fa-files-o.fa-fw
            Contract
        %li
          %a{:href=>"#{accounts_path}",data: { remote: true}}
            %i.fa.fa-wrench.fa-fw
            Users