!!!
%html
  %head
    %title CrmSimple
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    / = javascript_tag "alert('#{params.inspect}')"
  %body
    -# %header
    -#   - if user_signed_in?
    -#     = render 'layouts/header'
    -# .container
    -#   - if user_signed_in?
    -#     .text-center
    -#       = yield
    -#   - else
    -#     = yield
    -# %footer
    -#   - if user_signed_in?
    -#     = render 'layouts/footer'
    - if user_signed_in?
      #wrapper
        = render 'layouts/header'
        #page-wrapper
          .row
            .col-lg-12
              = yield
              = render 'layouts/footer'
    - else
      = yield

