.row
  .col-lg-12
    %h1.page-header
      Listing users
      %span.badge
        = @account_counts
    .form-group
      = search_form_for @q,url: accounts_path do |f|
        = f.search_field :name_cont,{placeholder: "Name",class: 'form-control col-md-2'}
        = f.search_field :note_cont,{placeholder: "Note",class: 'form-control col-md-2'}
        = f.search_field :email_cont,{placeholder: "Email",class: 'form-control col-md-2'}
        = f.submit  'Search',class: "btn btn-primary"
    %table.table.table-striped.talbe-hover.text-center
      %thead
        %tr
          %th.col-md-2.text-center Avatar
          = content_tag :th, sort_link(@q,:name),class: "col-md-2 text-center"
          = content_tag :th, sort_link(@q,:note),class: "col-md-2 text-center"
          = content_tag :th, sort_link(@q,:email),class: "col-md-3 text-center"
          %th.col-md-1{:colspan => "3"}
      %tbody
        - if @account_counts > 0
          - @accounts.each do |account|
            %tr
              %td= image_tag(account.avatar_url(:mini)) if account.avatar?
              %td= account.name
              %td= account.note
              %td= account.email
              %td= link_to 'Show', account_path(account.id), remote: true, class: "btn btn-primary"
              %td= link_to 'Edit', edit_account_path(account), remote: true, class: "btn btn-info"
              %td= link_to 'Destroy', account_path(account.id), method: :delete, data: { confirm: 'Are you sure?' }, remote: true, class: "btn btn-warning"
    = will_paginate @accounts, renderer: BootstrapPagination::Rails
    %br/
    = link_to 'New User', new_account_path, remote: true, class: "btn btn-success"