.row
  .col-lg-12
    .jumbotron
      %p
        %strong Avatar:
        = image_tag(@account.avatar_url(:thumb)) if @account.avatar?
      %p
        %strong Name:
        = @account.name
      %p
        %strong Note:
        = @account.note
      %p
        %strong Email:
        = @account.email
      = link_to 'Edit', edit_account_path(@account), remote: true, class: "btn btn-success"
      = link_to 'Back', accounts_path, remote: true, class: "btn btn-success"
